Package: com.ludacrisvp.htcweather6Plus.iwidget
Name: HTC Weather iOS8 iPhone 6Plus
Version: 2.2
Architecture: iphoneos-arm
Description: HTC Weather Animated forecast enabled clock iWidget.
Depends: com.eldwin.iwidgets
Homepage: 
Maintainer: Ludacrisvp@hotmail.com
Author: Ludacrisvp@hotmail.com
Section: Themes
